body{
    margin: 0;
    padding: 0;
}

.header-top{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    width: 60%;
    justify-content: space-around;
    list-style: none;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.container{
    display: flex;
    min-height: 90vh;
    justify-content: space-between;
}
.container > div {
    border: 1px solid black;
    width: 23%;
}

.left-elements, .right-elements{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-div, .right-div{
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background-color: gray;
}